In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load, encoding="utf-8")
student_data = pd.read_csv(student_data_to_load, encoding="utf-8")

In [11]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [12]:
# Set District ID for groupby
school_data_complete["District ID"] = 0

In [13]:
# Calculate District Summary
district_group = school_data_complete.groupby(["District ID"])
total_schools = district_group["school_name"].nunique()
total_students = district_group["Student ID"].nunique()
total_budget = school_data["budget"].sum()
avg_math_score = district_group["math_score"].mean()
avg_reading_score = district_group["reading_score"].mean()
passed_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["District ID"]).size()
passing_math_rate = passed_math/total_students * 100
passed_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["District ID"]).size()
passing_reading_rate = passed_reading/total_students * 100
passed_both = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                    (school_data_complete["reading_score"] >= 70)].groupby(["District ID"]).size()
overall_passing_rate = passed_both/total_students * 100

In [14]:
# District Summary dataframe
district_summary = pd.DataFrame({
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": passing_math_rate,
    "% Passing Reading": passing_reading_rate,
    "% Overall Passing": overall_passing_rate
})

In [9]:
# Use Map to format all the columns
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.2f}".format)
district_summary.rename_axis(None, axis = 0)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",79.0,81.9,74.98,85.81,65.17

In [15]:
# Calculate School Summary
school_group = school_data_complete.groupby(["School ID"])
school_name = school_group["school_name"].unique().str.get(0)
school_type = school_group["type"].unique().str.get(0)
total_students = school_group.size().astype(int)
total_budget = school_group["budget"].unique().astype(int)
budget_per_student = total_budget/total_students
avg_math_score = school_group["math_score"].mean()
avg_reading_score = school_group["reading_score"].mean()
passed_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["School ID"]).size()
passing_math_rate = passed_math/total_students * 100
passed_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["School ID"]).size()
passing_reading_rate = passed_reading/total_students * 100
passed_both = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                    (school_data_complete["reading_score"] >= 70)].groupby(["School ID"]).size()
overall_passing_rate = passed_both/total_students * 100

In [17]:
# District Summary dataframe
school_summary = pd.DataFrame({
    "School": school_name,
    "School Type": school_type,
    "Total Students": total_students,
    "Total School Budget": total_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": passing_math_rate,
    "% Passing Reading": passing_reading_rate,
    "% Overall Passing": overall_passing_rate
})
school_summary = school_summary.sort_values("School",ascending=True)

In [18]:
# Use Map to format all the columns

school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:.2f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:.1f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:.1f}".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:.2f}".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:.2f}".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:.2f}".format)
school_summary.rename_axis(None, axis = 0)

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
7,Bailey High School,District,"4,976","$3,124,928",$628.00,77.0,81.0,66.68,81.93,54.64
6,Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.1,84.0,94.13,97.04,91.33
1,Figueroa High School,District,"2,949","$1,884,411",$639.00,76.7,81.2,65.99,80.74,53.20
13,Ford High School,District,"2,739","$1,763,916",$644.00,77.1,80.7,68.31,79.30,54.29
4,Griffin High School,Charter,"1,468","$917,500",$625.00,83.4,83.8,93.39,97.14,90.60
3,Hernandez High School,District,"4,635","$3,022,020",$652.00,77.3,80.9,66.75,80.86,53.53
8,Holden High School,Charter,427,"$248,087",$581.00,83.8,83.8,92.51,96.25,89.23
0,Huang High School,District,"2,917","$1,910,635",$655.00,76.6,81.2,65.68,81.32,53.51
12,Johnson High School,District,"4,761","$3,094,650",$650.00,77.1,81.0,66.06,81.22,53.54
9,Pena High School,Charter,962,"$585,858",$609.00,83.8,84.0,94.59,95.95,90.54
11,Rodriguez High School,District,"3,999","$2,547,363",$637.00,76.8,80.7,66.37,80.22,52.99
2,Shelton High School,Charter,"1,761","$1,056,600",$600.00,83.4,83.7,93.87,95.85,89.89
14,Thomas High School,Charter,"1,635","$1,043,130",$638.00,83.4,83.8,93.27,97.31,90.95
5,Wilson High School,Charter,"2,283","$1,319,574",$578.00,83.3,84.0,93.87,96.54,90.58
10,Wright High School,Charter,"1,800","$1,049,400",$583.00,83.7,84.0,93.33,96.61,90.33

In [ ]:
school_data_complete["Math Passed"] = (school_data_complete["math_score"] >= 70).astype(int)
school_data_complete.head()

In [ ]:
school_data_complete["Reading Passed"] = (school_data_complete["reading_score"] >= 70).astype(int)
school_data_complete.head()

In [ ]:
school_data_complete["Both Passed"] = ((school_data_complete["math_score"] >= 70) & 
                                       (school_data_complete["reading_score"] >= 70)).astype(int)
school_data_complete.head()

In [ ]:
df3 = school_data_complete.groupby(["school_name","type","size","budget"])
df3.head()

In [ ]:
df4 = school_data_complete.groupby(["school_name","type","size","budget"])["Math Passed","Reading Passed","Both Passed"].sum
df4.head()

In [ ]:
df3.count()

In [ ]:
# Calculate the total number of schools
school_data_complete.school_name.nunique()

In [ ]:
# Calculate the total number of schools
total_schools = school_data_complete["school_name"].nunique()
total_schools

In [ ]:
# Calculate the total number of students based on Student ID
total_students = school_data_complete["Student ID"].nunique()
total_students

In [ ]:
# Calculate the total number of unique student names
total_unique_names = school_data_complete["student_name"].nunique()
total_unique_names

In [ ]:
school_data_complete.groupby(["school_name","budget"])["budget"].count()

In [ ]:
school_data_complete["count"] = school_data_complete.groupby(["school_name","type","budget"])["budget"].transform("count")
school_data_complete.head()

In [ ]:
df2 = school_data_complete.groupby(["school_name","type","budget"])["budget"].count().reset_index(name="student_count")
df2

In [ ]:
school_data_complete["Math Passed"] = school_data_complete["math_score"] >= 70
school_data_complete.head()

In [ ]:
school_group = school_data_complete.groupby(by=["school_name","budget"], as_index=False).first()
school_group

In [ ]:
school_budget = school_group[["school_name", "budget"]]
school_budget

In [ ]:
# Calculate the total budget
school_budget["budget"].sum()

In [ ]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

In [ ]:
# Calculate the average math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

In [ ]:
# Calculate the average reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

In [ ]:
# Students that passed reading
passed_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, [
    "Student ID", "reading_score"]]
passed_reading.head()

In [ ]:
math_rate = school_data_complete["Math Passed"].sum() / school_data_complete["Student ID"].nunique()
math_rate

In [ ]:
# Students that passed math
passed_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, [
    "Student ID", "math_score"]]
passed_math.head()

In [ ]:
# Students that passed math
total_math = len(passed_math.index)
total_math

In [ ]:
# Students that passed reading
total_reading = len(passed_reading.index)
total_reading

In [ ]:
# Combine the math and reading data into a single dataset.  
passed_both = pd.merge(passed_math, passed_reading, how="inner", on=["Student ID", "Student ID"])

passed_both.head()

In [ ]:
# Students that passed math and reading
total_passed = len(passed_both.index)
total_passed

In [ ]:
# Place all of the data found into a summary DataFrame
summary_df = pd.DataFrame({"Total Schools": [total_schools],
                           "Total Students": total_students,
                           "Total Budget": total_budget,
                           "Average Math Score": avg_math_score,
                           "Average Reading Score": avg_reading_score,
                           "% Passing Math": total_math / total_students * 100,
                           "% Passing Reading": total_reading / total_students * 100,
                           "% Overall Passing": total_passed / total_students * 100})
summary_df

In [ ]:
# Use Map to format all the columns

summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,}".format)
summary_df["Average Math Score"] = summary_df["Average Math Score"].map("{:.1f}".format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map("{:.1f}".format)
summary_df["% Passing Math"] = summary_df["% Passing Math"].map("{:.2f}".format)
summary_df["% Passing Reading"] = summary_df["% Passing Reading"].map("{:.2f}".format)
summary_df["% Overall Passing"] = summary_df["% Overall Passing"].map("{:.2f}".format)
summary_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type